.app-mainContainer {
    background-color: #5d5d65;
    color: #f1faee;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.app-toolbar-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    i {
        margin-right: 0.3em;
    }
    p {
        margin-bottom: 0 !important;
    }
}

.app-toolbar {
    padding: 0 0.5em;
}

.app-dataContainer {
    padding: 0.5em;
}

.app-gameForm-container,
.app-turnForm-container,
.app-throwBlocks-container,
.app-rules-container,
.app-gameMode-main-item {
    background-color: #363640;
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: 0.3em;
}

.app-player-templateContainer {
    display: flex;
    align-items: center;
}

.app-player-colorBox {
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
}

.app-player-templateContainer-turnForm {
    font-size: 1.4em;
    margin-top: 0.4em;
    padding-bottom: 3.4px;
    border-bottom: 1px solid white;
}

.app-gameMode-top {
    display: flex;
    justify-content: space-between;
}

.app-dominos-container {
    display: flex;
    flex-wrap: wrap;
}

.domino {
    cursor: pointer;
    background: whitesmoke;
    color: black;
    text-align: center;
    margin: 0.3em;
    border: 2px solid black;
    display: flex;
    border-radius: 0.3em;
    p {
        margin-bottom: 0;
    }
}

.domino-hidden {
    background: black !important;
    color: black;
    border: 2px solid whitesmoke !important;
}

.domino-side {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 1.5em;
    height: 1.5em;
}

.app-gameMode-main-container {
    display: flex;
}

.app-gameMode-main-left-container {
    margin-right: 0.5em;
    width: 17.4em;
}

.app-gameMode-main-right-container {
    flex: 1;
}

.app-chosen-domino-container {
    display: flex;
    justify-content: center;
    font-size: 1.6em;
    margin-top: -0.4em;
}