<!-- <router-outlet></router-outlet> -->
<div class="app-mainContainer">

    <!-- Toolbar -->
    <dx-toolbar [class]="'app-toolbar'">
        <!-- Nombre de la sección -->
        <dxi-item location="before" locateInMenu="never">
            <div *dxTemplate>
                <div class="app-toolbar-title">
                    <ng-container *ngIf="currentMode === modeEnum.configurating">
                        <i class="fas fa-cog"></i>
                        <p>Configurando el juego</p>
                    </ng-container>
                    <ng-container *ngIf="currentMode === modeEnum.playing">
                        <i class="fas fa-gamepad"></i>
                        <p>Jugando ...</p>
                    </ng-container>
                </div>
            </div>
        </dxi-item>
        <!-- Boton resetear formulario -->
        <dxi-item [visible]="currentMode === modeEnum.configurating" location="after" widget="dxButton" locateInMenu="never" [options]="resetGameFormButtonOptions">
        </dxi-item>
        <!-- Boton comenzar juego -->
        <dxi-item [visible]="currentMode === modeEnum.configurating" location="after" widget="dxButton" locateInMenu="never" [options]="startGameButtonOptions">
        </dxi-item>
        <!-- Botón reiniciar juego -->
        <dxi-item [visible]="currentMode === modeEnum.playing" location="after" widget="dxButton" locateInMenu="never" [options]="resetGameButtonOptions">
        </dxi-item>
        <!-- Botón regresar a modo config -->
        <dxi-item [visible]="currentMode === modeEnum.playing" location="after" widget="dxButton" locateInMenu="never" [options]="returnToConfigButtonOptions">
        </dxi-item>
    </dx-toolbar>

    <!-- Contenedor de contenido -->
    <div class="app-dataContainer">

        <!-- MODO CONFIGURACIÓN -->
        <ng-container *ngIf="currentMode === modeEnum.configurating">
            <dx-form id="gameForm" [class]="'app-gameForm-container'">
                <!-- Jugadores -->
                <dxi-item itemType="group" caption="Jugadores">
                    <dxi-item [template]="'playersTemplate'">
                    </dxi-item>
                </dxi-item>
                <div *dxTemplate="let data of 'playersTemplate'">
                    <dx-data-grid id="gridContainer" [dataSource]="players" [allowColumnReordering]="true" [allowColumnResizing]="true">
                        <dxo-editing [allowAdding]="false" [allowDeleting]="false" [allowUpdating]="true" [useIcons]="true"></dxo-editing>

                        <dxi-column dataField="name" caption="Nombre del jugador">
                            <dxi-validation-rule type="required" [message]="FIELD_REQUIRED_MESSAGE">
                            </dxi-validation-rule>
                        </dxi-column>

                        <dxi-column dataField="color" caption="Color del jugador" editCellTemplate="colorEditor" cellTemplate="colorTemplate">
                            <dxi-validation-rule type="required" [message]="FIELD_REQUIRED_MESSAGE">
                            </dxi-validation-rule>
                        </dxi-column>

                        <!-- Columna personalizada de color -->
                        <div *dxTemplate="let data of 'colorTemplate'" class="app-player-templateContainer">
                            <div class="app-player-colorBox" [ngStyle]="{backgroundColor: data.value}"></div>
                            <p>{{data.value}}</p>
                        </div>

                        <!-- Editor de colores -->
                        <div *dxTemplate="let cellInfo of 'colorEditor'">
                            <dx-color-box [value]="cellInfo.value" applyValueMode="instantly" valueExpr="ID" displayExpr="FullName" (onValueChanged)="cellInfo.setValue($event.value)" (onSelectionChanged)="cellInfo.component.updateDimensions()">
                            </dx-color-box>
                        </div>
                    </dx-data-grid>
                </div>
            </dx-form>
        </ng-container>

        <!-- MODO JUEGO -->
        <div class="app-gameMode-container" *ngIf="currentMode === modeEnum.playing">

            <div class="app-gameMode-main-container">
                <div class="app-gameMode-main-left-container">

                    <div class="app-gameMode-main-item">
                        <p>Mano del jugador</p>
                        <!-- Dominos mano jugador -->
                        <div class="app-dominos-container">
                            <div *ngFor="let domino of playerDominoHand" class="domino" (click)="onDominoChosenFromPlayerHand(domino)">
                                <p class="domino-side">
                                    {{domino.leftSideNumber}}
                                </p>
                                <p class="domino-side">
                                    {{domino.rightSideNumber}}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="app-gameMode-main-item">
                        <p>Dómino escogido</p>
                        <br>
                        <dx-form *ngIf="turnForm.chosenDomino" #chosenDominoform [formData]="turnForm" [colCount]="3" labelLocation="left">
                            <!-- Domino -->
                            <dxi-item template="chosenDomino" [colSpan]="1">
                            </dxi-item>
                            <!-- Dar vuelta -->
                            <dxi-item itemType="simple" dataField="flip" [editorType]="'dxCheckBox'" [editorOptions]="{onValueChanged: onFlipChosenDomino}" [colSpan]="2" alignment="right">
                                <dxo-label text="Dar vuelta"></dxo-label>
                            </dxi-item>
                            <!-- Posicionamiento -->
                            <dxi-item itemType="simple" [editorType]="'dxSelectBox'" [editorOptions]="{dataSource: dominoPositionList, displayExpr: 'name', valueExpr: 'value', value: turnForm.chosenDomino.position, onValueChanged: onDefineSelectedDominoPosition}" [colSpan]="3">
                                <dxo-label text="Posicionar a la"></dxo-label>
                                <dxi-validation-rule type="required" message="Campo necesario"></dxi-validation-rule>
                            </dxi-item>
                            <!-- Botón añadir domino -->
                            <dxi-item template="addDominoTemplate" [colSpan]="3">
                            </dxi-item>

                            <!-- Muestra domino -->
                            <div *dxTemplate="let data of 'chosenDomino'">
                                <div class="app-chosen-domino-container">
                                    <div class="domino">
                                        <p class="domino-side">
                                            {{turnForm.chosenDomino.leftSideNumber}}
                                        </p>
                                        <p class="domino-side">
                                            {{turnForm.chosenDomino.rightSideNumber}}
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!-- Botón añadir domino -->
                            <div *dxTemplate="let data of 'addDominoTemplate'">
                                <dx-button width="100%" stylingMode="contained" icon="fas fa-rocket" text="Añadír domino" type="success" (onClick)="onAddPlayerDomino()">
                                </dx-button>
                            </div>
                        </dx-form>
                        <span *ngIf="!turnForm.chosenDomino">Por favor seleccionar un dominó</span>
                    </div>

                    <div class="app-gameMode-main-item">
                        <p>Mano de la maquina</p>
                        <!-- Dominos mano jugador -->
                        <div class="app-dominos-container">
                            <div *ngFor="let domino of machineDominoHand" class="domino">
                                <p class="domino-side">
                                    {{domino.leftSideNumber}}
                                </p>
                                <p class="domino-side">
                                    {{domino.rightSideNumber}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="app-gameMode-main-right-container">
                    <div class="app-gameMode-main-item">
                        <p>Reglas</p>
                        <p>Juega dominó con la maquina trata de derrotarla, al escoger un dominó puedes decidir si volteralo y añadirlo ya sea la izquierda o derecha</p>
                    </div>
                    <div class="app-gameMode-main-item">
                        <!-- Dominos jugados -->
                        <p>Dominós jugados</p>
                        <div class="app-dominos-container">
                            <div *ngFor="let domino of playedDominos" class="domino">
                                <p class="domino-side">
                                    {{domino.leftSideNumber}}
                                </p>
                                <p class="domino-side">
                                    {{domino.rightSideNumber}}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="app-gameMode-main-item">
                        <!-- Dominos Disponibles -->
                        <p>Dominós Disponibles</p>
                        <div class="app-dominos-container">
                            <div *ngFor="let domino of availableDominos" class="domino domino-hidden" (click)="onChooseDominoFromAvailable(domino, playerTypeEnum.person)">
                                <p class="domino-side">
                                    {{domino.leftSideNumber}}
                                </p>
                                <p class="domino-side">
                                    {{domino.rightSideNumber}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>