@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
@import url(https://fonts.googleapis.com/earlyaccess/notokufiarabic.css);
p,
h1,
h2,
h3,
h4,
h5,
span,
a {
    font-family: Roboto, RobotoFallback, "Noto Kufi Arabic", Helvetica, Arial, sans-serif;
    margin: 0 0 1em;
    margin: 0 0 0.2em;
}

body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin-top: 0;
    margin: 0 !important;
    position: absolute;
}